<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<h1>SpeedKash Bot</h1>

<ng-container *ngFor="let message of messages | async">
    <div class="message" ngClass="{ 'from': message.sentBy === 'bot', 
                                    'to':   message.sentBy === 'user' }"   >
        {{ message.content }}
    </div>
</ng-container>

<label for="nameField">Your Message</label>

<input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text"><br>

<button (click)="sendMessage()">Send</button>